In [3]:
import pandas as pd
import numpy as np

### 1. 데이터 불러오기 / 타입통합

In [5]:
customerData = pd.read_csv("../dataset2/customer.csv")

### 2. 특성 선정 / 데이터 분리

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
features = ["deposit", "stock"]
label = ["label"]

In [8]:
train_test_split(customerData[features], test_size = 0.3, random_state = 24)

[          deposit     stock
 9408   1700000000  45000000
 15055  1390000000  77000000
 4773   1520000000  53000000
 4832   1710000000  55000000
 16314  1870000000  67000000
 12973  1640000000  48000000
 16588  1300000000  42000000
 10272  1650000000  46000000
 12098  1940000000  55000000
 10325  1500000000  35000000
 3935   1260000000  61000000
 4105   1370000000  68000000
 9909   1640000000  76000000
 18438  1230000000  74000000
 4416   1210000000  42000000
 13225  1440000000  72000000
 225    1990000000  58000000
 13479  1320000000  71000000
 18445  2000000000  58000000
 14061  1890000000  55000000
 9959   1800000000  71000000
 17736  1530000000  45000000
 9235   1750000000  70000000
 1078   1820000000  59000000
 5104   1510000000  38000000
 9625   1610000000  75000000
 15012  1230000000  72000000
 2516   1320000000  56000000
 17685  1970000000  43000000
 654    1310000000  42000000
 ...           ...       ...
 14553  1600000000  71000000
 11638  1970000000  78000000
 11566  1620000000  58000000
 11473  1400000000  70000000
 3398   1770000000  68000000
 13367  1640000000  45000000
 14396  1960000000  43000000
 16673  1350000000  49000000
 991    1870000000  57000000
 9470   1940000000  78000000
 8576   1430000000  69000000
 18972  1340000000  36000000
 15341  1300000000  50000000
 14745  1560000000  68000000
 3401   1520000000  54000000
 911    1670000000  39000000
 1907   1470000000  75000000
 5603   1560000000  70000000
 3963   1440000000  49000000
 7563   1430000000  58000000
 14563  1650000000  39000000
 12271  1820000000  49000000
 14340  1380000000  77000000
 7375   2000000000  71000000
 12411  1650000000  58000000
 6500   1470000000  52000000
 19857  1670000000  60000000
 14528  1870000000  75000000
 899    1800000000  45000000
 12706  1230000000  54000000

 [14000 rows x 2 columns],           deposit     stock
 11705  1630000000  46000000
 5449   1860000000  72000000
 6225   1710000000  75000000
 19870  1250000000  65000000
 15293  1650000000  38000000
 11459  1660000000  46000000
 11098  1510000000  74000000
 18162  1240000000  67000000
 1663   1430000000  39000000
 18390  1560000000  42000000
 6861   1280000000  38000000
 11965  1860000000  71000000
 2375   1530000000  36000000
 3114   1320000000  78000000
 15440  1660000000  36000000
 9457   1280000000  48000000
 10537  1820000000  69000000
 4848   1630000000  38000000
 16832  1980000000  42000000
 11172  1760000000  71000000
 16807  1290000000  56000000
 10338  1360000000  72000000
 264    1240000000  66000000
 11567  1890000000  59000000
 19401  1390000000  47000000
 7224   1670000000  77000000
 14376  1850000000  43000000
 15651  1310000000  39000000
 15837  1510000000  70000000
 19641  1600000000  48000000
 ...           ...       ...
 7301   1890000000  74000000
 8116   1500000000  43000000
 18398  1680000000  42000000
 18064  1860000000  73000000
 16023  1280000000  46000000
 11712  1660000000  38000000
 6984   1620000000  57000000
 6661   1230000000  73000000
 16411  1390000000  67000000
 1800   1840000000  77000000
 12031  1630000000  53000000
 17653  1420000000  38000000
 15306  1970000000  79000000
 17619  1900000000  36000000
 14048  1490000000  66000000
 19007  1300000000  65000000
 15809  1970000000  44000000
 9816   1410000000  67000000
 933    1360000000  37000000
 2766   1960000000  38000000
 8361   1790000000  49000000
 12282  1400000000  51000000
 11178  1550000000  58000000
 12593  1770000000  39000000
 4534   1650000000  45000000
 48     1790000000  41000000
 2610   1260000000  70000000
 17994  1500000000  76000000
 2944   1870000000  67000000
 19335  1990000000  78000000

 [6000 rows x 2 columns]]

In [9]:
trainingData_features,\
testData_features,\
trainingData_label,\
testData_label = train_test_split(customerData[features], customerData[label],
                                                  test_size = 0.3, random_state = 3)

In [11]:
from sklearn import svm

In [12]:
### Define Model
model = svm.SVC(random_state=1)
### Learning (Feature & Label)
model.fit(trainingData_features, trainingData_label)

C:\Users\SMART-15\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=1, shrinking=True,
  tol=0.001, verbose=False)

In [19]:
## 테스트데이터 Feature만 가지고 예측하기
predict = model.predict(testData_features)
predictData = pd.DataFrame(predict)
predictData.columns = ["predict"]

predictData

      predict
0      normal
1      normal
2     diamond
3      normal
4         vip
5     diamond
6     diamond
7         vip
8     diamond
9     diamond
10    diamond
11    diamond
12     normal
13     normal
14        vip
15    diamond
16    diamond
17     normal
18        vip
19    diamond
20     normal
21    diamond
22        vip
23    diamond
24    diamond
25    diamond
26    diamond
27    diamond
28    diamond
29     normal
...       ...
5970  diamond
5971   normal
5972  diamond
5973   normal
5974   normal
5975   normal
5976  diamond
5977   normal
5978  diamond
5979   normal
5980   normal
5981  diamond
5982  diamond
5983  diamond
5984   normal
5985   normal
5986   normal
5987  diamond
5988  diamond
5989  diamond
5990      vip
5991      vip
5992  diamond
5993   normal
5994  diamond
5995  diamond
5996  diamond
5997  diamond
5998  diamond
5999   normal

[6000 rows x 1 columns]

In [21]:
testData_features2 = testData_features.reset_index(drop=True)
testData_label2 = testData_label.reset_index(drop=True)

In [22]:
finalResult = pd.concat( [testData_features2, testData_label2, predictData], axis=1 )
finalResult

         deposit     stock    label  predict
0     1410000000  51000000   normal   normal
1     1320000000  54000000   normal   normal
2     1610000000  59000000  diamond  diamond
3     1270000000  68000000   normal   normal
4     1970000000  77000000      vip      vip
5     1540000000  62000000  diamond  diamond
6     1650000000  38000000  diamond  diamond
7     1790000000  78000000      vip      vip
8     1620000000  72000000  diamond  diamond
9     1850000000  63000000  diamond  diamond
10    1760000000  45000000  diamond  diamond
11    1800000000  48000000  diamond  diamond
12    1320000000  58000000   normal   normal
13    1240000000  40000000   normal   normal
14    1920000000  80000000      vip      vip
15    1900000000  58000000  diamond  diamond
16    2000000000  40000000  diamond  diamond
17    1240000000  56000000   normal   normal
18    1970000000  73000000      vip      vip
19    1820000000  56000000  diamond  diamond
20    1600000000  36000000   normal   normal
21    1730000000  36000000  diamond  diamond
22    1970000000  68000000      vip      vip
23    1680000000  69000000  diamond  diamond
24    1270000000  40000000   normal  diamond
25    1790000000  35000000  diamond  diamond
26    1370000000  71000000  diamond  diamond
27    1400000000  79000000  diamond  diamond
28    1390000000  64000000  diamond  diamond
29    1320000000  60000000   normal   normal
...          ...       ...      ...      ...
5970  1680000000  48000000  diamond  diamond
5971  1250000000  63000000   normal   normal
5972  1900000000  38000000  diamond  diamond
5973  1440000000  54000000   normal   normal
5974  1230000000  45000000   normal   normal
5975  1230000000  66000000   normal   normal
5976  1700000000  57000000  diamond  diamond
5977  1550000000  43000000   normal   normal
5978  1930000000  54000000  diamond  diamond
5979  1340000000  35000000   normal   normal
5980  1210000000  77000000   normal   normal
5981  1610000000  42000000  diamond  diamond
5982  1950000000  35000000  diamond  diamond
5983  1870000000  56000000  diamond  diamond
5984  1330000000  46000000   normal   normal
5985  1280000000  69000000   normal   normal
5986  1270000000  70000000   normal   normal
5987  1900000000  49000000  diamond  diamond
5988  1350000000  71000000  diamond  diamond
5989  1500000000  56000000  diamond  diamond
5990  1890000000  70000000      vip      vip
5991  1900000000  62000000      vip      vip
5992  1550000000  56000000  diamond  diamond
5993  1330000000  64000000   normal   normal
5994  1940000000  35000000  diamond  diamond
5995  1640000000  73000000  diamond  diamond
5996  1820000000  50000000  diamond  diamond
5997  1680000000  46000000  diamond  diamond
5998  1590000000  59000000  diamond  diamond
5999  1460000000  47000000   normal   normal

[6000 rows x 4 columns]

In [24]:
finalResult.to_csv("../dataset2/finalResult.csv")

In [25]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [26]:
finalResult.columns

Index(['deposit', 'stock', 'label', 'predict'], dtype='object')

In [28]:
# 결과 테스트하기 
ac_score = accuracy_score(finalResult.label, finalResult.predict)

## 결과 리포트하기
print("Accuracy =", ac_score)

Accuracy = 0.9885

In [30]:
cl_report = classification_report(finalResult.label, finalResult.predict)
print("result =\n", cl_report)

result =
              precision    recall  f1-score   support

    diamond       0.98      1.00      0.99      3453
     normal       1.00      0.97      0.99      1795
        vip       1.00      0.97      0.99       752

avg / total       0.99      0.99      0.99      6000