In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
selloutData = pd.read_csv("../dataset/kopo_channel_seasonality_new.csv")
selloutData.head(2)

  REGIONID    PRODUCT  YEARWEEK      QTY
0      A60   PRODUCT4    201402     71.0
1      A60  PRODUCT59    201402  22275.0

반품값 제거

In [3]:
selloutData["NEW_QTY"] = np.where(selloutData["QTY"] < 0, 0, selloutData["QTY"])

In [4]:
selloutData[selloutData.QTY >= 0].head()

  REGIONID    PRODUCT  YEARWEEK      QTY  NEW_QTY
0      A60   PRODUCT4    201402     71.0     71.0
1      A60  PRODUCT59    201402  22275.0  22275.0
2      A60  PRODUCT34    201402   4463.0   4463.0
3      A60  PRODUCT47    201402      0.0      0.0
4      A60  PRODUCT56    201402     23.0     23.0

53주차 제거

In [5]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
NEW_QTY     float64
dtype: object

In [6]:
int(201623/100)

2016

In [7]:
201623%100

23

연차 정보 정수로 변환하기

In [8]:
# 방법 1
def customFunc(inputColumn):
    yearVal = inputColumn/100
    yearVal = int(yearVal)
#     weekVal = inputColumn%100
    return yearVal

In [9]:
# selloutData["YEAR"] = selloutData["YEARWEEK"].apply(customFunc)

In [10]:
# 방법 2
selloutData["YEAR"] = selloutData["YEARWEEK"]//100

In [11]:
# 방법 3
# selloutData["YEAR"] =  (selloutData.YEARWEEK/100).astype(int)

In [12]:
# 방법 4       ----에러 해결해보자,,
# selloutData["YEAR"] = math.trunc(selloutData["YEARWEEK"]/100)

In [13]:
selloutData["WEEK"] = selloutData["YEARWEEK"]%100

In [14]:
selloutData.head()

  REGIONID    PRODUCT  YEARWEEK      QTY  NEW_QTY  YEAR  WEEK
0      A60   PRODUCT4    201402     71.0     71.0  2014     2
1      A60  PRODUCT59    201402  22275.0  22275.0  2014     2
2      A60  PRODUCT34    201402   4463.0   4463.0  2014     2
3      A60  PRODUCT47    201402      0.0      0.0  2014     2
4      A60  PRODUCT56    201402     23.0     23.0  2014     2

In [15]:
refinedData = selloutData[selloutData.WEEK < 53]

In [16]:
refinedData.head()

  REGIONID    PRODUCT  YEARWEEK      QTY  NEW_QTY  YEAR  WEEK
0      A60   PRODUCT4    201402     71.0     71.0  2014     2
1      A60  PRODUCT59    201402  22275.0  22275.0  2014     2
2      A60  PRODUCT34    201402   4463.0   4463.0  2014     2
3      A60  PRODUCT47    201402      0.0      0.0  2014     2
4      A60  PRODUCT56    201402     23.0     23.0  2014     2

정렬

In [17]:
sortKey = ["REGIONID",'PRODUCT','YEARWEEK']

In [18]:
sortedData = refinedData.sort_values(sortKey)

In [19]:
sortedData.head()

     REGIONID    PRODUCT  YEARWEEK    QTY  NEW_QTY  YEAR  WEEK
298       A00  PRODUCT34    201401  661.0    661.0  2014     1
1757      A00  PRODUCT34    201402  679.0    679.0  2014     2
3125      A00  PRODUCT34    201403  578.0    578.0  2014     3
205       A00  PRODUCT34    201404  532.0    532.0  2014     4
4369      A00  PRODUCT34    201405  516.0    516.0  2014     5

In [20]:
step1Data = sortedData.reset_index(drop=True)
step1Data.head()

  REGIONID    PRODUCT  YEARWEEK    QTY  NEW_QTY  YEAR  WEEK
0      A00  PRODUCT34    201401  661.0    661.0  2014     1
1      A00  PRODUCT34    201402  679.0    679.0  2014     2
2      A00  PRODUCT34    201403  578.0    578.0  2014     3
3      A00  PRODUCT34    201404  532.0    532.0  2014     4
4      A00  PRODUCT34    201405  516.0    516.0  2014     5

기본 이동평균 함수

In [21]:
step1Data.NEW_QTY.rolling(window=15, center=True, min_periods=1).mean()

0          520.000000
1          514.444444
2          516.800000
3          503.363636
4          490.750000
5          480.230769
6          468.214286
7          456.666667
8          431.533333
9          402.066667
10         375.533333
11         350.800000
12         325.733333
13         305.266667
14         284.666667
15         265.933333
16         239.333333
17         207.800000
18         187.200000
19         169.200000
20         155.666667
21         153.133333
22         168.933333
23         179.933333
24         193.000000
25         205.266667
26         217.600000
27         229.066667
28         237.600000
29         246.200000
             ...
123834    4159.933333
123835    4272.333333
123836    4435.133333
123837    4530.533333
123838    4518.466667
123839    4527.000000
123840    4528.533333
123841    4402.866667
123842    4418.533333
123843    5182.466667
123844    5145.466667
123845    5091.800000
123846    5177.800000
123847    5340.533333
123848    5334.466667
123849    5160.200000
123850    5020.866667
123851    4868.266667
123852    4864.333333
123853    4935.466667
123854    5083.600000
123855    5163.000000
123856    5466.266667
123857    5457.928571
123858    4744.384615
123859    4839.500000
123860    4914.909091
123861    4977.200000
123862    4890.222222
123863    4987.875000
Name: NEW_QTY, Length: 123864, dtype: float64

In [22]:
step1Data["MA"] = step1Data.NEW_QTY.rolling(window=15, center=True, min_periods=1).mean()

In [23]:
step1Data.head(10)

  REGIONID    PRODUCT  YEARWEEK    QTY  NEW_QTY  YEAR  WEEK          MA
0      A00  PRODUCT34    201401  661.0    661.0  2014     1  520.000000
1      A00  PRODUCT34    201402  679.0    679.0  2014     2  514.444444
2      A00  PRODUCT34    201403  578.0    578.0  2014     3  516.800000
3      A00  PRODUCT34    201404  532.0    532.0  2014     4  503.363636
4      A00  PRODUCT34    201405  516.0    516.0  2014     5  490.750000
5      A00  PRODUCT34    201406  423.0    423.0  2014     6  480.230769
6      A00  PRODUCT34    201407  407.0    407.0  2014     7  468.214286
7      A00  PRODUCT34    201408  364.0    364.0  2014     8  456.666667
8      A00  PRODUCT34    201409  470.0    470.0  2014     9  431.533333
9      A00  PRODUCT34    201410  538.0    538.0  2014    10  402.066667

In [24]:
step1Data.to_csv("./result.csv")

In [25]:
# filteredData = step1Data[(step1Data.REGIONID=="A00") & (step1Data.PRODUCT=="PRODUCT34")]

In [26]:
groupkey=["REGIONID","PRODUCT","YEAR"]

In [27]:
groupData = step1Data.groupby(groupkey)[["NEW_QTY"]].mean()

In [28]:
groupData.head(15)

                               NEW_QTY
REGIONID PRODUCT   YEAR
A00      PRODUCT34 2014     275.961538
                   2015      86.634615
                   2016      36.576923
         PRODUCT58 2014       2.673077
                   2015       5.711538
                   2016     307.365385
         PRODUCT59 2014   27418.692308
                   2015   52240.846154
                   2016   28213.173077
A01      PRODUCT1  2014    8622.461538
                   2015    6384.788462
                   2016    2131.076923
         PRODUCT12 2014  169397.826923
                   2015  195479.884615
                   2016  225598.500000

In [29]:
groupDataResult = groupData.reset_index()
groupDataResult.head()

  REGIONID    PRODUCT  YEAR     NEW_QTY
0      A00  PRODUCT34  2014  275.961538
1      A00  PRODUCT34  2015   86.634615
2      A00  PRODUCT34  2016   36.576923
3      A00  PRODUCT58  2014    2.673077
4      A00  PRODUCT58  2015    5.711538

In [30]:
step1Data.head()

  REGIONID    PRODUCT  YEARWEEK    QTY  NEW_QTY  YEAR  WEEK          MA
0      A00  PRODUCT34    201401  661.0    661.0  2014     1  520.000000
1      A00  PRODUCT34    201402  679.0    679.0  2014     2  514.444444
2      A00  PRODUCT34    201403  578.0    578.0  2014     3  516.800000
3      A00  PRODUCT34    201404  532.0    532.0  2014     4  503.363636
4      A00  PRODUCT34    201405  516.0    516.0  2014     5  490.750000

In [31]:
joinKey = ["REGIONID","PRODUCT","YEAR"]

In [32]:
mergeData = pd.merge(step1Data, groupDataResult, on=joinKey)\
          [["REGIONID","PRODUCT","YEARWEEK","YEAR","WEEK","QTY","NEW_QTY_x","NEW_QTY_y","MA"]]

In [33]:
mergeData.head()

,REGIONID,PRODUCT,YEARWEEK,YEAR,WEEK,QTY,NEW_QTY_x,NEW_QTY_y,MA
0,A00,PRODUCT34,201401,2014,1,661.0,661.0,275.961538,520.000000
1,A00,PRODUCT34,201402,2014,2,679.0,679.0,275.961538,514.444444
2,A00,PRODUCT34,201403,2014,3,578.0,578.0,275.961538,516.800000
3,A00,PRODUCT34,201404,2014,4,532.0,532.0,275.961538,503.363636
4,A00,PRODUCT34,201405,2014,5,516.0,516.0,275.961538,490.750000

In [34]:
mergeData.to_csv("./mergeData.csv")

rolling함수에 문제점 발견. 제품이 바뀔 때 이동평균 날개를 리셋해줘야 한다.

따라서 제품별 이동평균 다시 구하기!

In [35]:
groupKey2 = ["REGIONID","PRODUCT"]

In [36]:
groupDataSet = mergeData.groupby(groupKey2)

In [37]:
# 각 그룹이 하나씩 리턴됨. (식별번호 별 제품명이 하나의 그룹이 됨.)

oneGroup = groupDataSet.get_group(list(groupDataSet.groups)[0])

In [38]:
def groupRolling(oneGroup):
    #len(list(groupDataSet.groups))
    #oneGroup = groupDataSet.get_group(list(groupDataSet.groups)[0])
    # oneGroup.head()

    oneGroup = oneGroup.reset_index(drop=True)
    oneGroup["MA2"] = oneGroup["NEW_QTY_x"].rolling(window=5,center=True).mean()
#     oneGroup["MA2"] = oneGroup["NEW_QTY_x"].rolling(window=5,center=True).mean()

    return oneGroup

In [39]:
finalResult = mergeData.groupby(groupKey2).apply(groupRolling)

In [40]:
finalResult.head(170)

                       REGIONID    PRODUCT  YEARWEEK  YEAR  WEEK    QTY  \
REGIONID PRODUCT
A00      PRODUCT34 0        A00  PRODUCT34    201401  2014     1  661.0
                   1        A00  PRODUCT34    201402  2014     2  679.0
                   2        A00  PRODUCT34    201403  2014     3  578.0
                   3        A00  PRODUCT34    201404  2014     4  532.0
                   4        A00  PRODUCT34    201405  2014     5  516.0
                   5        A00  PRODUCT34    201406  2014     6  423.0
                   6        A00  PRODUCT34    201407  2014     7  407.0
                   7        A00  PRODUCT34    201408  2014     8  364.0
                   8        A00  PRODUCT34    201409  2014     9  470.0
                   9        A00  PRODUCT34    201410  2014    10  538.0
                   10       A00  PRODUCT34    201411  2014    11  369.0
                   11       A00  PRODUCT34    201412  2014    12  352.0
                   12       A00  PRODUCT34    201413  2014    13  354.0
                   13       A00  PRODUCT34    201414  2014    14  312.0
                   14       A00  PRODUCT34    201415  2014    15  295.0
                   15       A00  PRODUCT34    201416  2014    16  284.0
                   16       A00  PRODUCT34    201417  2014    17  237.0
                   17       A00  PRODUCT34    201418  2014    18  180.0
                   18       A00  PRODUCT34    201419  2014    19  161.0
                   19       A00  PRODUCT34    201420  2014    20  140.0
                   20       A00  PRODUCT34    201421  2014    21  116.0
                   21       A00  PRODUCT34    201422  2014    22   98.0
                   22       A00  PRODUCT34    201423  2014    23   83.0
                   23       A00  PRODUCT34    201424  2014    24   71.0
                   24       A00  PRODUCT34    201425  2014    25   65.0
                   25       A00  PRODUCT34    201426  2014    26   60.0
                   26       A00  PRODUCT34    201427  2014    27   82.0
                   27       A00  PRODUCT34    201428  2014    28  151.0
                   28       A00  PRODUCT34    201429  2014    29  274.0
                   29       A00  PRODUCT34    201430  2014    30  532.0
...                         ...        ...       ...   ...   ...    ...
                   140      A00  PRODUCT34    201637  2016    37    5.0
                   141      A00  PRODUCT34    201638  2016    38  101.0
                   142      A00  PRODUCT34    201639  2016    39  561.0
                   143      A00  PRODUCT34    201640  2016    40   17.0
                   144      A00  PRODUCT34    201641  2016    41   75.0
                   145      A00  PRODUCT34    201642  2016    42   10.0
                   146      A00  PRODUCT34    201643  2016    43   11.0
                   147      A00  PRODUCT34    201644  2016    44   15.0
                   148      A00  PRODUCT34    201645  2016    45   18.0
                   149      A00  PRODUCT34    201646  2016    46   14.0
                   150      A00  PRODUCT34    201647  2016    47    9.0
                   151      A00  PRODUCT34    201648  2016    48   17.0
                   152      A00  PRODUCT34    201649  2016    49   19.0
                   153      A00  PRODUCT34    201650  2016    50   35.0
                   154      A00  PRODUCT34    201651  2016    51   73.0
                   155      A00  PRODUCT34    201652  2016    52   22.0
         PRODUCT58 0        A00  PRODUCT58    201401  2014     1    0.0
                   1        A00  PRODUCT58    201402  2014     2    0.0
                   2        A00  PRODUCT58    201403  2014     3    0.0
                   3        A00  PRODUCT58    201404  2014     4    0.0
                   4        A00  PRODUCT58    201405  2014     5    0.0
                   5        A00  PRODUCT58    201406  2014     6    0.0
                   6        A00  PRODUCT58    201407  2014     7    0.0
                   7        A00  PRODUCT58    201408  2014     8    0.0
                   8        A00  PRODUCT58    201409  2014     9    0.0
                   9        A00  PRODUCT58    201410  2014    10    0.0
                   10       A00  PRODUCT58    201411  2014    11    0.0
                   11       A00  PRODUCT58    201412  2014    12    0.0
                   12       A00  PRODUCT58    201413  2014    13    0.0
                   13       A00  PRODUCT58    201414  2014    14    0.0

                        NEW_QTY_x   NEW_QTY_y          MA    MA2
REGIONID PRODUCT
A00      PRODUCT34 0        661.0  275.961538  520.000000    NaN
                   1        679.0  275.961538  514.444444    NaN
                   2        578.0  275.961538  516.800000  593.2
                   3        532.0  275.961538  503.363636  545.6
                   4        516.0  275.961538  490.750000  491.2
                   5        423.0  275.961538  480.230769  448.4
                   6        407.0  275.961538  468.214286  436.0
                   7        364.0  275.961538  456.666667  440.4
                   8        470.0  275.961538  431.533333  429.6
                   9        538.0  275.961538  402.066667  418.6
                   10       369.0  275.961538  375.533333  416.6
                   11       352.0  275.961538  350.800000  385.0
                   12       354.0  275.961538  325.733333  336.4
                   13       312.0  275.961538  305.266667  319.4
                   14       295.0  275.961538  284.666667  296.4
                   15       284.0  275.961538  265.933333  261.6
                   16       237.0  275.961538  239.333333  231.4
                   17       180.0  275.961538  207.800000  200.4
                   18       161.0  275.961538  187.200000  166.8
                   19       140.0  275.961538  169.200000  139.0
                   20       116.0  275.961538  155.666667  119.6
                   21        98.0  275.961538  153.133333  101.6
                   22        83.0  275.961538  168.933333   86.6
                   23        71.0  275.961538  179.933333   75.4
                   24        65.0  275.961538  193.000000   72.2
                   25        60.0  275.961538  205.266667   85.8
                   26        82.0  275.961538  217.600000  126.4
                   27       151.0  275.961538  229.066667  219.8
                   28       274.0  275.961538  237.600000  297.6
                   29       532.0  275.961538  246.200000  367.8
...                           ...         ...         ...    ...
                   140        5.0   36.576923   60.400000  134.6
                   141      101.0   36.576923   61.200000  137.2
                   142      561.0   36.576923   61.666667  151.8
                   143       17.0   36.576923   56.800000  152.8
                   144       75.0   36.576923   57.800000  134.8
                   145       10.0   36.576923   58.533333   25.6
                   146       11.0   36.576923   60.600000   25.8
                   147       15.0   36.576923   65.333333   13.6
                   148       18.0   36.576923   66.466667   13.4
                   149       14.0   36.576923   59.733333   14.6
                   150        9.0   36.576923   22.333333   15.4
                   151       17.0   36.576923   21.200000   18.8
                   152       19.0   36.576923   16.200000   30.6
                   153       35.0   36.576923   15.533333   33.2
                   154       73.0   36.576923   14.800000    NaN
                   155       22.0   36.576923   13.800000    NaN
         PRODUCT58 0          0.0    2.673077   12.600000    NaN
                   1          0.0    2.673077   11.666667    NaN
                   2          0.0    2.673077   11.066667    0.0
                   3          0.0    2.673077    9.933333    0.0
                   4          0.0    2.673077    8.666667    0.0
                   5          0.0    2.673077    6.333333    0.0
                   6          0.0    2.673077    1.466667    0.0
                   7          0.0    2.673077    0.000000    0.0
                   8          0.0    2.673077    0.000000    0.0
                   9          0.0    2.673077    0.000000    0.0
                   10         0.0    2.673077    0.000000    0.0
                   11         0.0    2.673077    0.333333    0.0
                   12         0.0    2.673077    0.533333    0.0
                   13         0.0    2.673077    1.600000    0.0

[170 rows x 10 columns]

In [41]:
finalResult = finalResult.reset_index(drop=True)

In [42]:
finalResult=finalResult.rename(columns = {"NEW_QTY_x":"NEW_QTY", "NEW_QTY_y":"QTY_YEAR"})
finalResult.head()

,REGIONID,PRODUCT,YEARWEEK,YEAR,WEEK,QTY,NEW_QTY,QTY_YEAR,MA,MA2
0,A00,PRODUCT34,201401,2014,1,661.0,661.0,275.961538,520.000000,NaN
1,A00,PRODUCT34,201402,2014,2,679.0,679.0,275.961538,514.444444,NaN
2,A00,PRODUCT34,201403,2014,3,578.0,578.0,275.961538,516.800000,593.2
3,A00,PRODUCT34,201404,2014,4,532.0,532.0,275.961538,503.363636,545.6
4,A00,PRODUCT34,201405,2014,5,516.0,516.0,275.961538,490.750000,491.2

In [43]:
finalResult.to_csv("./finalResult.csv")

groupKey3= ["REGIONID","PRODUCT"]

def groupFunc(eachGroup):
    eachGroup["MA3"] = eachGroup["NEW_QTY"].rolling(window=5, center=True, min_piriods=1)mean()
    return eachGroup

margeData.groupby(groupKey3).apply(groupFunction)

In [44]:
fullData = pd.DataFrame(selloutData)

In [66]:
a01Data

       REGIONID    PRODUCT  YEARWEEK       QTY   NEW_QTY  YEAR  WEEK
47          A01  PRODUCT75    201403   23768.0   23768.0  2014     3
48          A01   PRODUCT8    201403     105.0     105.0  2014     3
49          A01  PRODUCT19    201403    1513.0    1513.0  2014     3
50          A01  PRODUCT20    201403      59.0      59.0  2014     3
51          A01  PRODUCT47    201403    4436.0    4436.0  2014     3
52          A01  PRODUCT60    201403       4.0       4.0  2014     3
53          A01  PRODUCT56    201403    5449.0    5449.0  2014     3
54          A01  PRODUCT57    201403   13394.0   13394.0  2014     3
55          A01  PRODUCT12    201403  119281.0  119281.0  2014     3
56          A01   PRODUCT1    201403   21350.0   21350.0  2014     3
57          A01  PRODUCT33    201403    6940.0    6940.0  2014     3
58          A01  PRODUCT14    201403    8022.0    8022.0  2014     3
59          A01  PRODUCT62    201403    3823.0    3823.0  2014     3
492         A01   PRODUCT2    201401     225.0     225.0  2014     1
493         A01   PRODUCT6    201401       0.0       0.0  2014     1
494         A01  PRODUCT58    201401       0.0       0.0  2014     1
495         A01  PRODUCT63    201401   47708.0   47708.0  2014     1
496         A01  PRODUCT15    201401    5684.0    5684.0  2014     1
497         A01   PRODUCT4    201401   18722.0   18722.0  2014     1
498         A01  PRODUCT16    201401    1316.0    1316.0  2014     1
499         A01  PRODUCT59    201401  253391.0  253391.0  2014     1
500         A01  PRODUCT34    201401   14836.0   14836.0  2014     1
501         A01   PRODUCT7    201401    1153.0    1153.0  2014     1
502         A01  PRODUCT75    201401   15798.0   15798.0  2014     1
503         A01   PRODUCT8    201401     164.0     164.0  2014     1
504         A01  PRODUCT19    201401    1519.0    1519.0  2014     1
505         A01  PRODUCT20    201401      41.0      41.0  2014     1
506         A01  PRODUCT47    201401    5650.0    5650.0  2014     1
507         A01  PRODUCT60    201401      13.0      13.0  2014     1
508         A01  PRODUCT56    201401    5000.0    5000.0  2014     1
...         ...        ...       ...       ...       ...   ...   ...
122401      A01  PRODUCT56    201629    8597.0    8597.0  2016    29
122402      A01  PRODUCT57    201629    5331.0    5331.0  2016    29
122403      A01  PRODUCT12    201629  163171.0  163171.0  2016    29
122404      A01   PRODUCT1    201629    1774.0    1774.0  2016    29
122405      A01  PRODUCT33    201629   15100.0   15100.0  2016    29
122406      A01  PRODUCT14    201629   27245.0   27245.0  2016    29
122407      A01  PRODUCT62    201629   19165.0   19165.0  2016    29
122472      A01   PRODUCT2    201632   42467.0   42467.0  2016    32
122473      A01   PRODUCT6    201632     988.0     988.0  2016    32
122474      A01  PRODUCT58    201632   64487.0   64487.0  2016    32
122475      A01  PRODUCT63    201632   34373.0   34373.0  2016    32
122476      A01  PRODUCT15    201632    4988.0    4988.0  2016    32
122477      A01   PRODUCT4    201632   26442.0   26442.0  2016    32
122478      A01  PRODUCT16    201632    1321.0    1321.0  2016    32
122479      A01  PRODUCT59    201632  774620.0  774620.0  2016    32
122480      A01  PRODUCT34    201632  122536.0  122536.0  2016    32
122481      A01   PRODUCT7    201632    2598.0    2598.0  2016    32
122482      A01  PRODUCT75    201632   29495.0   29495.0  2016    32
122483      A01   PRODUCT8    201632     204.0     204.0  2016    32
122484      A01  PRODUCT19    201632    3373.0    3373.0  2016    32
122485      A01  PRODUCT20    201632     166.0     166.0  2016    32
122486      A01  PRODUCT47    201632   10531.0   10531.0  2016    32
122487      A01  PRODUCT60    201632       1.0       1.0  2016    32
122488      A01  PRODUCT56    201632    7368.0    7368.0  2016    32
122489      A01  PRODUCT57    201632    5147.0    5147.0  2016    32
122490      A01  PRODUCT12    201632  215174.0  215174.0  2016    32
122491      A01   PRODUCT1    201632    1242.0    1242.0  2016    32
122492      A01  PRODUCT33    201632   14900.0   14900.0  2016    32
122493      A01  PRODUCT14    201632   24566.0   24566.0  2016    32
122494      A01  PRODUCT62    201632   16827.0   16827.0  2016    32

[3611 rows x 7 columns]

In [45]:
a01Data = fullData[fullData.REGIONID=="A01"]
len(a01Data)

3611

In [67]:
a20Data

       REGIONID    PRODUCT  YEARWEEK       QTY   NEW_QTY  YEAR  WEEK
1074        A20  PRODUCT58    201401       0.0       0.0  2014     1
1075        A20  PRODUCT59    201401   14012.0   14012.0  2014     1
1076        A20  PRODUCT34    201401     422.0     422.0  2014     1
1548        A20  PRODUCT58    201403       0.0       0.0  2014     3
1549        A20  PRODUCT59    201403   13659.0   13659.0  2014     3
1550        A20  PRODUCT34    201403     508.0     508.0  2014     3
1605        A20  PRODUCT58    201402       0.0       0.0  2014     2
1606        A20  PRODUCT59    201402   13878.0   13878.0  2014     2
1607        A20  PRODUCT34    201402     473.0     473.0  2014     2
3519        A20  PRODUCT58    201404       0.0       0.0  2014     4
3520        A20  PRODUCT59    201404   14178.0   14178.0  2014     4
3521        A20  PRODUCT34    201404     442.0     442.0  2014     4
3635        A20  PRODUCT58    201405       0.0       0.0  2014     5
3636        A20  PRODUCT59    201405   15276.0   15276.0  2014     5
3637        A20  PRODUCT34    201405     524.0     524.0  2014     5
3982        A20  PRODUCT58    201406       0.0       0.0  2014     6
3983        A20  PRODUCT59    201406   15824.0   15824.0  2014     6
3984        A20  PRODUCT34    201406     606.0     606.0  2014     6
6136        A20  PRODUCT58    201407       0.0       0.0  2014     7
6137        A20  PRODUCT59    201407   16409.0   16409.0  2014     7
6138        A20  PRODUCT34    201407     725.0     725.0  2014     7
7121        A20  PRODUCT58    201409       0.0       0.0  2014     9
7122        A20  PRODUCT59    201409   22278.0   22278.0  2014     9
7123        A20  PRODUCT34    201409    1069.0    1069.0  2014     9
7361        A20  PRODUCT58    201408       0.0       0.0  2014     8
7362        A20  PRODUCT59    201408   15941.0   15941.0  2014     8
7363        A20  PRODUCT34    201408    1053.0    1053.0  2014     8
8521        A20  PRODUCT58    201410       0.0       0.0  2014    10
8522        A20  PRODUCT59    201410   16490.0   16490.0  2014    10
8523        A20  PRODUCT34    201410     926.0     926.0  2014    10
...         ...        ...       ...       ...       ...   ...   ...
118271      A20  PRODUCT58    201637     247.0     247.0  2016    37
118272      A20  PRODUCT59    201637  120845.0  120845.0  2016    37
118273      A20  PRODUCT34    201637    2230.0    2230.0  2016    37
118902      A20  PRODUCT58    201615     376.0     376.0  2016    15
118903      A20  PRODUCT59    201615  102875.0  102875.0  2016    15
118904      A20  PRODUCT34    201615    3029.0    3029.0  2016    15
119675      A20  PRODUCT58    201639     257.0     257.0  2016    39
119676      A20  PRODUCT59    201639  141194.0  141194.0  2016    39
119677      A20  PRODUCT34    201639    2128.0    2128.0  2016    39
119843      A20  PRODUCT58    201543      28.0      28.0  2015    43
119844      A20  PRODUCT59    201543  111841.0  111841.0  2015    43
119845      A20  PRODUCT34    201543    3634.0    3634.0  2015    43
120007      A20  PRODUCT58    201551      80.0      80.0  2015    51
120008      A20  PRODUCT59    201551  176351.0  176351.0  2015    51
120009      A20  PRODUCT34    201551    9644.0    9644.0  2015    51
120121      A20  PRODUCT58    201544      27.0      27.0  2015    44
120122      A20  PRODUCT59    201544  113399.0  113399.0  2015    44
120123      A20  PRODUCT34    201544    3744.0    3744.0  2015    44
121185      A20  PRODUCT58    201611     171.0     171.0  2016    11
121186      A20  PRODUCT59    201611   98432.0   98432.0  2016    11
121187      A20  PRODUCT34    201611    4035.0    4035.0  2016    11
121839      A20  PRODUCT58    201633     309.0     309.0  2016    33
121840      A20  PRODUCT59    201633  129182.0  129182.0  2016    33
121841      A20  PRODUCT34    201633    2690.0    2690.0  2016    33
122058      A20  PRODUCT58    201629     234.0     234.0  2016    29
122059      A20  PRODUCT59    201629  120997.0  120997.0  2016    29
122060      A20  PRODUCT34    201629    2839.0    2839.0  2016    29
124225      A20  PRODUCT58    201634     349.0     349.0  2016    34
124226      A20  PRODUCT59    201634  123997.0  123997.0  2016    34
124227      A20  PRODUCT34    201634    2224.0    2224.0  2016    34

[471 rows x 7 columns]

In [46]:
a20Data = fullData[fullData.REGIONID=="A20"]
len(a20Data)

471

In [47]:
resultConcat = pd.concat([a01Data,a20Data], axis=0)

In [65]:
resultConcat

       REGIONID    PRODUCT  YEARWEEK       QTY   NEW_QTY  YEAR  WEEK
47          A01  PRODUCT75    201403   23768.0   23768.0  2014     3
48          A01   PRODUCT8    201403     105.0     105.0  2014     3
49          A01  PRODUCT19    201403    1513.0    1513.0  2014     3
50          A01  PRODUCT20    201403      59.0      59.0  2014     3
51          A01  PRODUCT47    201403    4436.0    4436.0  2014     3
52          A01  PRODUCT60    201403       4.0       4.0  2014     3
53          A01  PRODUCT56    201403    5449.0    5449.0  2014     3
54          A01  PRODUCT57    201403   13394.0   13394.0  2014     3
55          A01  PRODUCT12    201403  119281.0  119281.0  2014     3
56          A01   PRODUCT1    201403   21350.0   21350.0  2014     3
57          A01  PRODUCT33    201403    6940.0    6940.0  2014     3
58          A01  PRODUCT14    201403    8022.0    8022.0  2014     3
59          A01  PRODUCT62    201403    3823.0    3823.0  2014     3
492         A01   PRODUCT2    201401     225.0     225.0  2014     1
493         A01   PRODUCT6    201401       0.0       0.0  2014     1
494         A01  PRODUCT58    201401       0.0       0.0  2014     1
495         A01  PRODUCT63    201401   47708.0   47708.0  2014     1
496         A01  PRODUCT15    201401    5684.0    5684.0  2014     1
497         A01   PRODUCT4    201401   18722.0   18722.0  2014     1
498         A01  PRODUCT16    201401    1316.0    1316.0  2014     1
499         A01  PRODUCT59    201401  253391.0  253391.0  2014     1
500         A01  PRODUCT34    201401   14836.0   14836.0  2014     1
501         A01   PRODUCT7    201401    1153.0    1153.0  2014     1
502         A01  PRODUCT75    201401   15798.0   15798.0  2014     1
503         A01   PRODUCT8    201401     164.0     164.0  2014     1
504         A01  PRODUCT19    201401    1519.0    1519.0  2014     1
505         A01  PRODUCT20    201401      41.0      41.0  2014     1
506         A01  PRODUCT47    201401    5650.0    5650.0  2014     1
507         A01  PRODUCT60    201401      13.0      13.0  2014     1
508         A01  PRODUCT56    201401    5000.0    5000.0  2014     1
...         ...        ...       ...       ...       ...   ...   ...
118271      A20  PRODUCT58    201637     247.0     247.0  2016    37
118272      A20  PRODUCT59    201637  120845.0  120845.0  2016    37
118273      A20  PRODUCT34    201637    2230.0    2230.0  2016    37
118902      A20  PRODUCT58    201615     376.0     376.0  2016    15
118903      A20  PRODUCT59    201615  102875.0  102875.0  2016    15
118904      A20  PRODUCT34    201615    3029.0    3029.0  2016    15
119675      A20  PRODUCT58    201639     257.0     257.0  2016    39
119676      A20  PRODUCT59    201639  141194.0  141194.0  2016    39
119677      A20  PRODUCT34    201639    2128.0    2128.0  2016    39
119843      A20  PRODUCT58    201543      28.0      28.0  2015    43
119844      A20  PRODUCT59    201543  111841.0  111841.0  2015    43
119845      A20  PRODUCT34    201543    3634.0    3634.0  2015    43
120007      A20  PRODUCT58    201551      80.0      80.0  2015    51
120008      A20  PRODUCT59    201551  176351.0  176351.0  2015    51
120009      A20  PRODUCT34    201551    9644.0    9644.0  2015    51
120121      A20  PRODUCT58    201544      27.0      27.0  2015    44
120122      A20  PRODUCT59    201544  113399.0  113399.0  2015    44
120123      A20  PRODUCT34    201544    3744.0    3744.0  2015    44
121185      A20  PRODUCT58    201611     171.0     171.0  2016    11
121186      A20  PRODUCT59    201611   98432.0   98432.0  2016    11
121187      A20  PRODUCT34    201611    4035.0    4035.0  2016    11
121839      A20  PRODUCT58    201633     309.0     309.0  2016    33
121840      A20  PRODUCT59    201633  129182.0  129182.0  2016    33
121841      A20  PRODUCT34    201633    2690.0    2690.0  2016    33
122058      A20  PRODUCT58    201629     234.0     234.0  2016    29
122059      A20  PRODUCT59    201629  120997.0  120997.0  2016    29
122060      A20  PRODUCT34    201629    2839.0    2839.0  2016    29
124225      A20  PRODUCT58    201634     349.0     349.0  2016    34
124226      A20  PRODUCT59    201634  123997.0  123997.0  2016    34
124227      A20  PRODUCT34    201634    2224.0    2224.0  2016    34

[4082 rows x 7 columns]

In [48]:
len(resultConcat)

4082

In [49]:
def groupRolling2(oneGroup):

    oneGroup = oneGroup.reset_index(drop=True)
    oneGroup["MA2"] = oneGroup["NEW_QTY_x"].rolling(window=5,center=True).mean()

    return oneGroup

In [50]:
#finalResult["CURRAVR"] = np.where(finalResult["YEARWEEK"]<=finalResult["YEARWEEK"].max, 0, selloutData["QTY"])

In [51]:
finalResult["YEARWEEK"] = finalResult["YEARWEEK"].astype(int)

In [52]:
finalResult.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int32
YEAR          int64
WEEK          int64
QTY         float64
NEW_QTY     float64
QTY_YEAR    float64
MA          float64
MA2         float64
dtype: object

In [53]:
maxx = finalResult["YEARWEEK"].max()
maxx

201652

In [54]:
answer1 = finalResult.query('YEARWEEK >= @maxx-3')
# answer1 = finalResult[finalResult.YEARWEEK >= (max-3)]   안됨 ㅡㅡ

In [55]:
answer1

,REGIONID,PRODUCT,YEARWEEK,YEAR,WEEK,QTY,NEW_QTY,QTY_YEAR,MA,MA2
152,A00,PRODUCT34,201649,2016,49,19.0,19.0,36.576923,16.200000,30.6
153,A00,PRODUCT34,201650,2016,50,35.0,35.0,36.576923,15.533333,33.2
154,A00,PRODUCT34,201651,2016,51,73.0,73.0,36.576923,14.800000,NaN
155,A00,PRODUCT34,201652,2016,52,22.0,22.0,36.576923,13.800000,NaN
308,A00,PRODUCT58,201649,2016,49,155.0,155.0,307.365385,2488.000000,120.4
309,A00,PRODUCT58,201650,2016,50,104.0,104.0,307.365385,3168.866667,96.0
310,A00,PRODUCT58,201651,2016,51,27.0,27.0,307.365385,4078.466667,NaN
311,A00,PRODUCT58,201652,2016,52,19.0,19.0,307.365385,5217.066667,NaN
464,A00,PRODUCT59,201649,2016,49,22993.0,22993.0,28213.173077,19892.933333,23588.8
465,A00,PRODUCT59,201650,2016,50,26854.0,26854.0,28213.173077,19360.400000,26344.4
466,A00,PRODUCT59,201651,2016,51,30237.0,30237.0,28213.173077,19026.400000,NaN
467,A00,PRODUCT59,201652,2016,52,33511.0,33511.0,28213.173077,18372.600000,NaN
620,A01,PRODUCT1,201649,2016,49,385.0,385.0,2131.076923,34240.666667,543.0
621,A01,PRODUCT1,201650,2016,50,287.0,287.0,2131.076923,45397.000000,470.4
622,A01,PRODUCT1,201651,2016,51,292.0,292.0,2131.076923,53683.600000,NaN
623,A01,PRODUCT1,201652,2016,52,599.0,599.0,2131.076923,64163.066667,NaN
776,A01,PRODUCT12,201649,2016,49,278487.0,278487.0,225598.500000,315509.600000,675070.8
777,A01,PRODUCT12,201650,2016,50,320253.0,320253.0,225598.500000,306184.333333,384066.8
778,A01,PRODUCT12,201651,2016,51,401602.0,401602.0,225598.500000,296222.133333,NaN
779,A01,PRODUCT12,201652,2016,52,208186.0,208186.0,225598.500000,284943.333333,NaN
932,A01,PRODUCT14,201649,2016,49,28492.0,28492.0,22567.307692,20374.600000,34918.6
933,A01,PRODUCT14,201650,2016,50,26844.0,26844.0,22567.307692,19640.333333,30869.8
934,A01,PRODUCT14,201651,2016,51,26835.0,26835.0,22567.307692,19166.800000,NaN
935,A01,PRODUCT14,201652,2016,52,28969.0,28969.0,22567.307692,18322.733333,NaN
1088,A01,PRODUCT15,201649,2016,49,2903.0,2903.0,4359.192308,3083.000000,3307.6
1089,A01,PRODUCT15,201650,2016,50,3070.0,3070.0,4359.192308,2832.333333,3103.4
1090,A01,PRODUCT15,201651,2016,51,3856.0,3856.0,4359.192308,2462.200000,NaN
1091,A01,PRODUCT15,201652,2016,52,2902.0,2902.0,4359.192308,2367.266667,NaN
1244,A01,PRODUCT16,201649,2016,49,2122.0,2122.0,1524.538462,2251.733333,3309.6
1245,A01,PRODUCT16,201650,2016,50,2509.0,2509.0,1524.538462,2321.866667,2625.2
...,...,...,...,...,...,...,...,...,...,...
122770,A69,PRODUCT34,201651,2016,51,405.0,405.0,177.326923,165.133333,NaN
122771,A69,PRODUCT34,201652,2016,52,197.0,197.0,177.326923,151.400000,NaN
122924,A69,PRODUCT58,201649,2016,49,3.0,3.0,8.365385,138.866667,1.4
122925,A69,PRODUCT58,201650,2016,50,1.0,1.0,8.365385,159.333333,1.6
122926,A69,PRODUCT58,201651,2016,51,1.0,1.0,8.365385,186.933333,NaN
122927,A69,PRODUCT58,201652,2016,52,2.0,2.0,8.365385,225.600000,NaN
123080,A69,PRODUCT59,201649,2016,49,10596.0,10596.0,13596.500000,10887.933333,13715.8
123081,A69,PRODUCT59,201650,2016,50,11765.0,11765.0,13596.500000,9970.800000,13639.4
123082,A69,PRODUCT59,201651,2016,51,17916.0,17916.0,13596.500000,8823.200000,NaN
123083,A69,PRODUCT59,201652,2016,52,14097.0,14097.0,13596.500000,7780.600000,NaN
123236,A70,PRODUCT34,201649,2016,49,2645.0,2645.0,2280.615385,1496.000000,2061.0
123237,A70,PRODUCT34,201650,2016,50,2257.0,2257.0,2280.615385,1348.200000,1981.2
123238,A70,PRODUCT34,201651,2016,51,1806.0,1806.0,2280.615385,1221.333333,NaN
123239,A70,PRODUCT34,201652,2016,52,1479.0,1479.0,2280.615385,1095.600000,NaN
123392,A70,PRODUCT58,201649,2016,49,47.0,47.0,129.769231,126.933333,47.8
123393,A70,PRODUCT58,201650,2016,50,49.0,49.0,129.769231,144.933333,47.2
123394,A70,PRODUCT58,201651,2016,51,56.0,56.0,129.769231,164.066667,NaN
123395,A70,PRODUCT58,201652,2016,52,56.0,56.0,129.769231,179.933333,NaN
123548,A70,PRODUCT59,201649,2016,49,84632.0,84632.0,102784.307692,66603.266667,84397.8
123549,A70,PRODUCT59,201650,2016,50,85369.0,85369.0,102784.307692,59801.933333,87880.4
123550,A70,PRODUCT59,201651,2016,51,97324.0,97324.0,102784.307692,53272.333333,NaN
123551,A70,PRODUCT59,201652,2016,52,100067.0,100067.0,102784.307692,47072.800000,NaN
123704,A77,PRODUCT1,201649,2016,49,4222.0,4222.0,3375.326923,3172.733333,3661.0
123705,A77,PRODUCT1,201650,2016,50,4422.0,4422.0,3375.326923,3065.666667,3628.8
123706,A77,PRODUCT1,201651,2016,51,3671.0,3671.0,3375.326923,3065.933333,NaN
123707,A77,PRODUCT1,201652,2016,52,2759.0,2759.0,3375.326923,3063.200000,NaN
123860,A77,PRODUCT12,201649,2016,49,5086.0,5086.0,4837.153846,4914.909091,4718.2
123861,A77,PRODUCT12,201650,2016,50,5846.0,5846.0,4837.153846,4977.200000,5513.6
123862,A77,PRODUCT12,201651,2016,51,4933.0,4933.0,4837.153846,4890.222222,NaN
123863,A77,PRODUCT12,201652,2016,52,7551.0,7551.0,4837.153846,4987.875000,NaN

In [56]:
groupKey4 = ["REGIONID","PRODUCT"]

In [57]:
groupData4 = answer1.groupby(groupKey4)[["NEW_QTY"]].mean()

In [58]:
groupData4.head()

                      NEW_QTY
REGIONID PRODUCT
A00      PRODUCT34      37.25
         PRODUCT58      76.25
         PRODUCT59   28398.75
A01      PRODUCT1      390.75
         PRODUCT12  302132.00

In [59]:
groupData4 = groupData4.reset_index(drop=False)

In [60]:
groupData4=groupData4.rename(columns = {"NEW_QTY":"CURR_QTY"})

In [61]:
groupData4.head()

  REGIONID    PRODUCT   CURR_QTY
0      A00  PRODUCT34      37.25
1      A00  PRODUCT58      76.25
2      A00  PRODUCT59   28398.75
3      A01   PRODUCT1     390.75
4      A01  PRODUCT12  302132.00

In [62]:
joinKey2 = ["REGIONID","PRODUCT"]

In [63]:
mergeData2 = pd.merge(finalResult, groupData4, on=joinKey2)\
      #    [["REGIONID","PRODUCT","YEARWEEK","YEAR","WEEK","QTY","NEW_QTY_x","NEW_QTY_y","MA"]]

In [64]:
mergeData2.head(170)

,REGIONID,PRODUCT,YEARWEEK,YEAR,WEEK,QTY,NEW_QTY,QTY_YEAR,MA,MA2,CURR_QTY
0,A00,PRODUCT34,201401,2014,1,661.0,661.0,275.961538,520.000000,NaN,37.25
1,A00,PRODUCT34,201402,2014,2,679.0,679.0,275.961538,514.444444,NaN,37.25
2,A00,PRODUCT34,201403,2014,3,578.0,578.0,275.961538,516.800000,593.2,37.25
3,A00,PRODUCT34,201404,2014,4,532.0,532.0,275.961538,503.363636,545.6,37.25
4,A00,PRODUCT34,201405,2014,5,516.0,516.0,275.961538,490.750000,491.2,37.25
5,A00,PRODUCT34,201406,2014,6,423.0,423.0,275.961538,480.230769,448.4,37.25
6,A00,PRODUCT34,201407,2014,7,407.0,407.0,275.961538,468.214286,436.0,37.25
7,A00,PRODUCT34,201408,2014,8,364.0,364.0,275.961538,456.666667,440.4,37.25
8,A00,PRODUCT34,201409,2014,9,470.0,470.0,275.961538,431.533333,429.6,37.25
9,A00,PRODUCT34,201410,2014,10,538.0,538.0,275.961538,402.066667,418.6,37.25
10,A00,PRODUCT34,201411,2014,11,369.0,369.0,275.961538,375.533333,416.6,37.25
11,A00,PRODUCT34,201412,2014,12,352.0,352.0,275.961538,350.800000,385.0,37.25
12,A00,PRODUCT34,201413,2014,13,354.0,354.0,275.961538,325.733333,336.4,37.25
13,A00,PRODUCT34,201414,2014,14,312.0,312.0,275.961538,305.266667,319.4,37.25
14,A00,PRODUCT34,201415,2014,15,295.0,295.0,275.961538,284.666667,296.4,37.25
15,A00,PRODUCT34,201416,2014,16,284.0,284.0,275.961538,265.933333,261.6,37.25
16,A00,PRODUCT34,201417,2014,17,237.0,237.0,275.961538,239.333333,231.4,37.25
17,A00,PRODUCT34,201418,2014,18,180.0,180.0,275.961538,207.800000,200.4,37.25
18,A00,PRODUCT34,201419,2014,19,161.0,161.0,275.961538,187.200000,166.8,37.25
19,A00,PRODUCT34,201420,2014,20,140.0,140.0,275.961538,169.200000,139.0,37.25
20,A00,PRODUCT34,201421,2014,21,116.0,116.0,275.961538,155.666667,119.6,37.25
21,A00,PRODUCT34,201422,2014,22,98.0,98.0,275.961538,153.133333,101.6,37.25
22,A00,PRODUCT34,201423,2014,23,83.0,83.0,275.961538,168.933333,86.6,37.25
23,A00,PRODUCT34,201424,2014,24,71.0,71.0,275.961538,179.933333,75.4,37.25
24,A00,PRODUCT34,201425,2014,25,65.0,65.0,275.961538,193.000000,72.2,37.25
25,A00,PRODUCT34,201426,2014,26,60.0,60.0,275.961538,205.266667,85.8,37.25
26,A00,PRODUCT34,201427,2014,27,82.0,82.0,275.961538,217.600000,126.4,37.25
27,A00,PRODUCT34,201428,2014,28,151.0,151.0,275.961538,229.066667,219.8,37.25
28,A00,PRODUCT34,201429,2014,29,274.0,274.0,275.961538,237.600000,297.6,37.25
29,A00,PRODUCT34,201430,2014,30,532.0,532.0,275.961538,246.200000,367.8,37.25
...,...,...,...,...,...,...,...,...,...,...,...
140,A00,PRODUCT34,201637,2016,37,5.0,5.0,36.576923,60.400000,134.6,37.25
141,A00,PRODUCT34,201638,2016,38,101.0,101.0,36.576923,61.200000,137.2,37.25
142,A00,PRODUCT34,201639,2016,39,561.0,561.0,36.576923,61.666667,151.8,37.25
143,A00,PRODUCT34,201640,2016,40,17.0,17.0,36.576923,56.800000,152.8,37.25
144,A00,PRODUCT34,201641,2016,41,75.0,75.0,36.576923,57.800000,134.8,37.25
145,A00,PRODUCT34,201642,2016,42,10.0,10.0,36.576923,58.533333,25.6,37.25
146,A00,PRODUCT34,201643,2016,43,11.0,11.0,36.576923,60.600000,25.8,37.25
147,A00,PRODUCT34,201644,2016,44,15.0,15.0,36.576923,65.333333,13.6,37.25
148,A00,PRODUCT34,201645,2016,45,18.0,18.0,36.576923,66.466667,13.4,37.25
149,A00,PRODUCT34,201646,2016,46,14.0,14.0,36.576923,59.733333,14.6,37.25
150,A00,PRODUCT34,201647,2016,47,9.0,9.0,36.576923,22.333333,15.4,37.25
151,A00,PRODUCT34,201648,2016,48,17.0,17.0,36.576923,21.200000,18.8,37.25
152,A00,PRODUCT34,201649,2016,49,19.0,19.0,36.576923,16.200000,30.6,37.25
153,A00,PRODUCT34,201650,2016,50,35.0,35.0,36.576923,15.533333,33.2,37.25
154,A00,PRODUCT34,201651,2016,51,73.0,73.0,36.576923,14.800000,NaN,37.25
155,A00,PRODUCT34,201652,2016,52,22.0,22.0,36.576923,13.800000,NaN,37.25
156,A00,PRODUCT58,201401,2014,1,0.0,0.0,2.673077,12.600000,NaN,76.25
157,A00,PRODUCT58,201402,2014,2,0.0,0.0,2.673077,11.666667,NaN,76.25
158,A00,PRODUCT58,201403,2014,3,0.0,0.0,2.673077,11.066667,0.0,76.25
159,A00,PRODUCT58,201404,2014,4,0.0,0.0,2.673077,9.933333,0.0,76.25
160,A00,PRODUCT58,201405,2014,5,0.0,0.0,2.673077,8.666667,0.0,76.25
161,A00,PRODUCT58,201406,2014,6,0.0,0.0,2.673077,6.333333,0.0,76.25
162,A00,PRODUCT58,201407,2014,7,0.0,0.0,2.673077,1.466667,0.0,76.25
163,A00,PRODUCT58,201408,2014,8,0.0,0.0,2.673077,0.000000,0.0,76.25
164,A00,PRODUCT58,201409,2014,9,0.0,0.0,2.673077,0.000000,0.0,76.25
165,A00,PRODUCT58,201410,2014,10,0.0,0.0,2.673077,0.000000,0.0,76.25
166,A00,PRODUCT58,201411,2014,11,0.0,0.0,2.673077,0.000000,0.0,76.25
167,A00,PRODUCT58,201412,2014,12,0.0,0.0,2.673077,0.333333,0.0,76.25
168,A00,PRODUCT58,201413,2014,13,0.0,0.0,2.673077,0.533333,0.0,76.25
169,A00,PRODUCT58,201414,2014,14,0.0,0.0,2.673077,1.600000,0.0,76.25